<!--<html>-->
<!--<head>-->
<!--    <body>-->

<!--    <center><h1 style="color:darkorange">Booking history</h1></center>-->
<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="{% static 'favicon.png' %}">

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Serif+Pro:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'new/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'new/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'new/css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'new/css/jquery.fancybox.min.css' %}">
  <link rel="stylesheet" href="{% static 'new/fonts/icomoon/style.css' %}">
  <link rel="stylesheet" href="{% static 'new/fonts/flaticon/font/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'new/css/daterangepicker.css' %}">
  <link rel="stylesheet" href="{% static 'new/css/aos.css' %}">
  <link rel="stylesheet" href="{% static 'new/css/style.css' %}">

  <title>Tour Free Bootstrap Template for Travel Agency by Untree.co</title>
</head>

<body>


  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close">
        <span class="icofont-close js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <nav class="site-nav">
    <div class="container">
      <div class="site-navigation">
        <a href="index.html" class="logo m-0">WideSky Travel <span class="text-primary">.</span></a>

        <ul class="js-clone-nav d-none d-lg-inline-block text-left site-menu float-right">
          <li class="active"><a href="index.html">Home</a></li>
         <li class="has-children">
						<a href="{% url 'booking_fn' %}">Booking</a>
						<ul class="dropdown">
							<li><a href="{% url 'history_fn' %}">Booking History</a></li>
							<li><a href="{% url 'feedback_fn' %}">Feedback</a></li>
<!--							<li class="has-children">-->
<!--								<a href="#">Menu Two</a>-->
<!--								<ul class="dropdown">-->
<!--									<li><a href="#">Sub Menu One</a></li>-->
<!--									<li><a href="#">Sub Menu Two</a></li>-->
<!--									<li><a href="#">Sub Menu Three</a></li>-->
<!--								</ul>-->
<!--							</li>-->

						</ul>
					</li>
					<li><a href="services.html">Services</a></li>

					<li><a href="{% url 'about_fn' %}">About</a></li>
					<li><a href="{% url 'contact_fn' %}">Contact Us</a></li>
					<li><a href="{% url 'destination_page' %}">Destination</a></li>
					<li>
                           {% if request.session.username %}
                           <a href="">{{request.session.username}}</a>
                           <a href="{% url 'userlogout'%}">/Logout</a>
                           {% else %}
                           <li>  <a href="{% url 'registration_fn' %}">Register</a></li>
                           <li>  <a href="{% url 'registration_fn' %}">signin</a></li>
                           {% endif %}
                           </li>
        </ul>

        <a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
          <span></span>
        </a>

      </div>
    </div>
  </nav>
  <div class="hero hero-inner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mx-auto text-center">
          <div class="intro-wrap">
            <h1 class="mb-0">Booking History</h1>
            <p class="text-white"> </p>
          </div>
        </div>
      </div>
    </div>
  </div>






 <div class="col-lg-6" style="width:600px; padding-left:400px; padding-bottom:100px; margin-top:-400px; margin-top:200px;">
          <div class="card"  style="width:800px; border: 3px solid black;">
            <div class="card-body">
              <h5 class="card-title">Display History</h5>
			  <div class="table-responsive">
               <table class="table" style="border: 5px solid black;">
                  <thead>
                    <tr>

                      <th scope="col"> Name</th>
                      <th scope="col">Destination Place</th>

                                        </tr>

                                    </thead>
                                    <tbody>
                                    {% for i in data %}
                                        <tr>
                                          <td style="font-size:19px;">{{i.name}}</td>

                                          <td style="font-size:19px;">{{i.destination_place}}</td>
<!--                                             -->

<!-- <form action="{% url 'deletehistory'  dataid=i.id %}">-->
<!--                                            <td style="border: 2px solid black;">-->
<!--                                              <button type="submit" >cancel</button>-->
<!--                                            </td>-->

<!--                                          </form>-->





                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
 </div>
</body>
</html>


